html,body {
	color: #101010;
	background-color:#C0C0C0; 
	height: 100%;
	margin: 0;
	padding: 0;
}
div{
	
	border:0;
	padding:0;
}
#container {
	min-height: 100%;
	height: auto;
	height: 100%;
	width: 700px;
	margin: 0 auto -60px; 
	/* text-align: center; */
}
#header {
	height: 20%;
	/* 	background-color: rgba(76, 167, 166, 0.9);
	 */	color: #fafafa;
	letter-spacing: 0;
	text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135
}
#header-left{
	float: right;
}
#header-right{
	width:10px;
	height:10px;
	float: left;
	
}
.img-1{
	border-radius:100px;
}

#page {

	height: 600px;
	width: 100%;
}

#content-left {
	border: 1px;
	float: left;
	width: 20%;
	height: 100%;
	background-color:#C0C0C0;
}
#content {
	border: 1px;
	float: left;
	width: 70%;
	height: 100%;
	background-color:#C0C0C0;
}
#footer {
	
	height: 10%;
	width: 100%;
	text-align: center;
	background-color:#C0C0C0;
}
