html,body {
	color: #101010;
	/*background-color:#C0C0C0;*/
	height: 100%;
	margin: 0;
	padding: 0;
}
div{
	
	border:0;
	padding:0;
}
#container {
	min-height: 100%;
	height: auto;
	height: 100%;
	width: 1000px;
	margin: 0 auto -60px;
	text-align: center;
}
#header {
	height: 50px;
	width: 100%;
	background-color: rgba(76, 167, 166, 0.9);
}

#page {

	height: 600px;
	width: 100%;
}

#content-left {
	border: 1px;
	float: left;
	width: 20%;
	height: 100%;
	background-color:#C0C0C0;
}
#content {
	border: 1px;
	float: left;
	width: 70%;
	height: 100%;
	background-color:#C0C0C0;
}
#content-right {
	border: 1px;
	float: right;
	width: 10%;
	height: 100%;
	background-color:#C0C0C0;
}
#footer {
	
	height: 10%;
	width: 100%;
	text-align: center;
	background-color:#C0C0C0;
}
